/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 2:41:18 PM
    Author     : EOHDigital
*/



.matrix-Theme{
   
    color: #33ff00;
  


}

body.matrix-Theme{margin: 0px;
                  max-width: 100%;
                  background-image: url('https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif');
                  background-size: contain;}
nav.matrix-Theme{
    
   background-color: black;
    font-family: 'Sirin Stencil', cursive;
    font-size: xx-large;
    width: 100%;
    border-bottom: 5px dotted #33ff00;
    outline: 5px dotted #33ff00;
    background-attachment: fixed;



}
ul.matrix-Theme{
    margin: 0px;
    alignment-adjust: middle;
    text-align: center;

}

ul.matrix-Theme li{
    text-shadow: 2px 2px 15px #33ff00;
    list-style: none;
    margin-left:  15px;
    margin-right: 15px;
    display: inline-block;
    padding-bottom: 5px;

}
ul.matrix-Theme li a{


    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    border-right:  5px solid black;
    border-left:  5px solid black;
    color: #33ff00;

    text-decoration: none;

}
ul.matrix-Theme li a:hover{
    border-right:  5px solid #33ff00;
    border-left:  5px solid #33ff00;
    border-radius: 15px;

}

.matrix-Theme-Text-Elements img{
    margin-left: 42%;
    width: 15%;
    border-radius: 15px;
}
.matrix-Theme-Text-Elements{
  
    width: 98%;
    margin-top:  2%;
    border: 5px solid #33ff00;
    border-radius: 4px;
    background-color: black;
    
 
}
.matrix-Theme-Text-Elements pre{
    text-align: center;
    font-size: x-large;
    color: white;
}


.matrix-Theme li a.active{
    border-right:  5px solid #33ff00;
    border-left:  5px solid #33ff00;
    border-radius: 15px;
}
h1.matrix-Theme{
background-color: black;
    text-align: center;
    font-family: 'Sirin Stencil', cursive;
    font-size: 40px;
    
text-shadow: 2px 2px 15px #33ff00;

}
h2.matrix-Theme{

    text-align: center;
    font-family: 'Sirin Stencil', cursive;
    font-size: 30px;

text-shadow: 2px 2px 15px #33ff00;
}
.Matrix-Left-From{width: 9%;
                 border: 5px dotted #33ff00;
}

.matrix-Text-Container-Container{
    width: 98%;
    overflow: scroll;
    
}
.Matrix-From{
    
     width: 70%;
    margin-top:   3%;
    border: 5px solid #33ff00;
    border-radius: 4px;
   background-color: black;
    
}
.matrix-Text-Container label{
     text-shadow: 2px 2px 15px #33ff00;
    margin-left: 10%;
    font-family: 'Sirin Stencil', cursive;
    font-size: 30px;
}
.matrix-Text-Container input{
    margin: 0 10% 0 10%;
    width: 80%;
       border: 5px dotted #33ff00;
       background-color: black;
        padding: 0.5%;
        font-size: 25px;
        border-radius: 14px;
       
}
.matrix-Text-Container input select textArea{
   
    color: #33ff00;
}
textarea:focus, input:focus {
    color: #33ff00;
    border: 5px solid #33ff00;
  
  
}

.matrix-Area-Container{
    padding-top: 3rem;
    padding-bottom: 3rem;
      
}

#matrix-table {
    font-size: 15px;
    width: 75%;
    margin-bottom: 4%;
    margin-top: 2%;
    margin-left: 12.5%;
    border: 3px solid #33ff00; 
    overflow: scroll;
    border-radius: 15px;
}

#matrix-table td{
     font-family:  'Sirin Stencil', cursive;
    border: 1px solid #33ff00; 
    text-align:  center;
      
}
#matrix-table th{
  border-radius:  5px 5px 0 0;
    font-family:  'Sirin Stencil', cursive;
    font-size: larger;
    border: 1px solid #33ff00; 
    text-align:  center;
      
}

.matrix-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.matrix-flex > div{
    
    width: 150px;
    min-width:  70px;
  margin: 10px;
  text-align: center;
  border: 3px solid #33ff00;
  border-radius: 15px;
}
.matrix-flex img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.matrix-Area-Container iframe{
    
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    height: 40%;
    min-height: 220px;
    alignment-adjust: middle;
}